*/_version.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Pytest cache
.pytest_cache/

# Editor directories and files
.vscode/
.idea/

# Misc
*.log
